.sidebar {
    height: calc(100vh - 0.5rem - 0.5rem )
}

.user-layout {
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem 1fr;
}

.user-layout div:nth-child(1) { 
   grid-area: 1 / 1 / 2 / 5;
}

.user-layout div:nth-child(2) {
    grid-area: 2 / 1 / 3 / 4;
}

.user-layout div:nth-child(3) {
    grid-area: 2 / 4 / 3 / 5;
}
